@model AddAndEditProductBindingModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<div class="form-group">
    <label asp-for="CategoryId" class="control-label col-sm-2"></label>
    <div class="col-sm-10">
        @Html.DropDownList("CategoryId", Model.Categories, null, new { @class = "form-control" })
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>
</div>
@Html.FormGroupFor(model => model.Name)
@Html.FormGroupFor(model => model.Price)
@Html.FormGroupFor(model => model.PictureUrl)
@Html.FormGroupFor(model => model.Weight)

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}