@page
@model PersonalDataModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<h4>@Localizer["Personal Data"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@Localizer["AccountDataMessage"]</p>
        <p>
            <strong>@Localizer["DeleteDataMessage"]</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">@Localizer["Download"]</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-danger">@Localizer["Delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}