@model UserDetailsViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<p><strong>@Localizer["Email"]:</strong> <a href="mailto://@Model.Username">@Model.Username</a></p>
<p><strong>@Localizer["Name"]:</strong> @Model.Name</p>
<p><strong>@Localizer["Surname"]:</strong> @Model.Surname</p>
<p><strong>@Localizer["District"]:</strong> @Model.District</p>
<p><strong>@Localizer["Town"]:</strong> @Model.Town</p>
<p><strong>@Localizer["Street"]:</strong> @Model.Street</p>
<p><strong>@Localizer["Number"]:</strong> @Model.Number</p>
<p><strong>@Localizer["Postcode"]:</strong> @Model.Postcode</p>
<p><strong>@Localizer["Floor"]:</strong> @Model.Floor</p>
<p><strong>@Localizer["Block"]:</strong> @Model.Block</p>
<p><strong>@Localizer["Apartment"]:</strong> @Model.Apartment</p>
<p><strong>@Localizer["Bell"]:</strong> @Model.Bell</p>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}